<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class'
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body {% if data.dashboard.dark_mode %} class="dark"{% endif %}>
    <div class="min-h-screen w-screen dark:bg-slate-950 bg-gray-100">
        <div class="container mx-auto py-10">
            {% for d in data.data %}
                {% include d.section.file with data=d %}
            {% endfor %}
        </div>
    </div>
</body>
</html>