<h2 class="text-lg dark:text-white font-semibold mb-5">{{ data.name }}</h2>
<div class="flex justify-around">
    <p class="dark:text-white text-5xl font-bold">
        {{ data.days }}<span class="text-gray-500 text-xl">&nbsp days</span>
    </p>
    <p class="dark:text-white text-5xl font-bold">
        {{ data.hours }}<span class="text-gray-500 text-xl">&nbsp hours</span>
    </p>
    <p class="dark:text-white text-5xl font-bold">
        {{ data.minutes }}<span class="text-gray-500 text-xl">&nbsp minutes</span>
    </p>
</div>
